    <div>
    {# {{ todayCount }} #}
      <span class="font-semibold">12</span> candidatures aujourd’hui
    </div>
    <div>
    {# {{ responseCount }} #}
      <span class="font-semibold">0</span> réponses reçues
    </div>
        <div>
    {# {{ responseCount }} #}
      <span class="font-semibold">0</span> entretiens passés
    </div>
            <div>
    {# {{ responseCount }} #}
      <span class="font-semibold">0</span> proposition reçues
    </div>