    {% if applicationSentToday >= 10 and applicationSentToday >= 15  %}
      <div>
        ✅ Bravo, vous avez atteint votre objectif intensif.      
      </div>
    {% elseif applicationSentToday >= 3 and applicationSentToday <= 5 %}
      <div>
        ✅ Bravo, vous avez atteint votre objectif constant.
      </div>
    {% elseif applicationSentToday == 1 %}
    <div>
        ✅ Bravo, vous avez atteint votre objectif "minimum vital".
    </div>
    {% else %}
      <div>
          0️⃣ Vous n'avez postulé à aucune offre aujourd'hui. 
        Pour rappel, une 
          <span class="font-bold">recherche intensive</span> 
        se situe entre 
          <span class="font-bold">30 et 50 candidatures</span>
        par semaine.
      </div>
    {% endif %}
