<!DOCTYPE html>
<html lang="fr" class="{{ app.session.get('dark_mode') ? 'dark' : '' }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    
    <title>{% block title %}Mon application{% endblock %}</title>

    <link rel="icon" href="data:image/svg+xml,%3Csvg%20xmlns%3D'http://www.w3.org/2000/svg'%20viewBox%3D'0%200%20128%20128'%3E%3Ctext%20y%3D'1em'%20font-size%3D'96'%3E%F0%9F%97%82%EF%B8%8F%3C/text%3E%3C/svg%3E">
    
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        darkMode: 'class'
      }
    </script>

    {% block stylesheets %}{% endblock %}
  </head>

  <body class="bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-100 min-h-screen flex flex-col">
    {% include 'tools/navbar.html.twig' %}

    <main class="flex-grow container mx-auto px-2 sm:px-4 py-6">
      {% block body %}{% endblock %}
    </main>

    <script src="https://cdn.tiny.cloud/1/v9rzxa44ju9akzbll9s6pyeuc9u12sfd87dhmj7mr9xlzykx/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="{{ asset('js/modalApplications.js') }}"></script>

    {% block javascripts %}{% endblock %}
  </body>
</html>
